.support-icon {
    width: 1rem;
    -webkit-margin-end: 0.594rem;
    margin-inline-end: 0.594rem;
}


.ellipsis{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    min-width:130px;
}

.calendar-input {
    background-image: url('../icons/calendar.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size:20px;
}

.popup-floating-content {
    float: left;
    padding: 8px;
    font-size: 11px;
}

.right-border {
    border-width: 0 1px 0 0;
    border-style: dotted;
    border-color: #999;
}


.Selected {
    box-shadow:5px 5px !important;
}

.Full{
    width:100% !important;
}

.ui-autocomplete-input::-ms-clear, .ui-autocomplete-loading::-ms-clear, .calendar-input::-ms-clear {
    display: none;
}

.ui-autocomplete-input {
    background-image: url('../Content/Images/search.png');
    background-position: right center;
    background-repeat: no-repeat;
}

input:read-only {
    background-color: rgb(225,225,225) !important;
}

