@using CORE.DTOs.MotorClaim.Claims;
@using Newtonsoft.Json;

@model List<Claims>

<div class="add-member-detail" style="max-height:900px;overflow-y:auto">
    <div class="policy-wrapper">
        <div class="basic-detail" style="background:none !important">
            <h2 class="heading">Approvals</h2>
            <div class="search-member">
                <form method="post" asp-action="SearchSurveyors" asp-controller="Surveyor" style="display:flow-root">
                    <div class="search-filter-wrapper">
                        <div class="search-wrapper">
                            <span class="label">Claim No</span>
                            <div class="search-input-box-wrapper">

                                <div class="search-icon-wrapper">
                                    <img src="/assets/icons/empty-file.svg" class="search-icon" alt="">
                                </div>
                                <input type="text" class="input-box" autocomplete="off" maxlength="60" name="claimno" placeholder="Search By Claim No"
                                       value="">
                            </div>
                        </div>

                        <div class="search-wrapper">
                            <span class="label">National Id</span>
                            <div class="search-input-box-wrapper">

                                <div class="search-icon-wrapper">
                                    <img src="/assets/icons/empty-file.svg" class="search-icon" alt="">
                                </div>
                                <input type="text" class="input-box" autocomplete="off" id="txtnationalid" maxlength="10" name="nationalid" placeholder="Search By National Id"
                                       value="">
                            </div>
                        </div>

                        <div class="search-wrapper">
                            <span class="label">Mobile No</span>
                            <div class="search-input-box-wrapper">

                                <div class="search-icon-wrapper">
                                    <img src="/assets/icons/empty-file.svg" class="search-icon" alt="">
                                </div>
                                <input type="text" class="input-box" autocomplete="off" id="txtmobile" name="mobile" maxlength="9" placeholder="Search By Mobile No 5XXXXX"
                                       value="">
                            </div>
                        </div>
                        <div class="search-wrapper">
                            <span class="label">Chasis No</span>
                            <div class="search-input-box-wrapper">

                                <div class="search-icon-wrapper">
                                    <img src="/assets/icons/empty-file.svg" class="search-icon" alt="">
                                </div>
                                <input type="text" class="input-box" autocomplete="off" maxlength="40" name="chassis" placeholder="Search By Chasis No"
                                       value="">
                            </div>
                        </div>
                    </div>

                    <div class="search-filter-wrapper">


                        <div class="search-wrapper">
                            <span class="label">Policy No</span>
                            <div class="search-input-box-wrapper">

                                <div class="search-icon-wrapper">
                                    <img src="/assets/icons/empty-file.svg" class="search-icon" alt="">
                                </div>
                                <input type="text" class="input-box" autocomplete="off" maxlength="40" name="policy" placeholder="Search By Policy No"
                                       value="">
                            </div>
                        </div>
                        <div class="search-wrapper">
                            <span class="label">Branch</span>

                            <div class="search-input-box-wrapper">
                                <div class="search-icon-wrapper">
                                    <img src="/assets/icons/List.png" class="search-icon" alt="">
                                </div>
                                <select class="common-dropdown Full" id="ddlFilter" name="Filter">
                                    <option value="">Select Branch</option>
                                    <option value="1">Active</option>
                                    <option value="0">In-Active</option>
                                </select>
                            </div>
                        </div>

                        <div class="search-wrapper">
                            <span class="label">Registered From</span>
                            <div class="search-input-box-wrapper">

                                <div class="search-icon-wrapper">
                                    <img src="/assets/icons/calendar.svg" class="search-icon" alt="">
                                </div>
                                <input class="input-box" autocomplete="off" id="txtFrom" name="From" type="text" value="">
                            </div>
                        </div>


                        <div class="search-wrapper">
                            <span class="label">Registered To</span>
                            <div class="search-input-box-wrapper">

                                <div class="search-icon-wrapper">
                                    <img src="/assets/icons/calendar.svg" class="search-icon" alt="">
                                </div>
                                <input class="input-box" autocomplete="off" id="txtTo" name="To" type="text" value="">
                            </div>
                        </div>

                    </div>
                    <div class="search-heading-wrap" style="float: right;margin-top: 10px;">

                        <button class="button button-secondary" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    @if (Model != null && Model.Count > 0)
    {
        <div class="policy-members">
            <div class="heading-card">
                <h2 class="heading">All Claims</h2>
            </div>
            <div class="transaction-details">
                <table class="universal-table">
                    <tr>
                        <th>Claim Segment</th>
                        <th>Fraud Indicator</th>
                        <th>Policy Number</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Chassis</th>
                        <th>Registered Date</th>
                        <th>Add Reserve</th>
                        <th>Assign To</th>

                    </tr>


                    @foreach (var clm in Model)
                    {

                        <tr>
                            @{
                                ClaimSearchobj claimSearchobj = new ClaimSearchobj()
                    {
                        PolicyId = clm.PolicyId.HasValue ? clm.PolicyId.Value : 0,
                        ClaimId = clm.Id
                    };
                            }
                            <td class="tran"><a href="@Url.Action("SurveyorEntry","Surveyor",new{obj=MotorClaims.Models.Helpers.Encrypt(JsonConvert.SerializeObject(claimSearchobj))})">@clm.ClaimNo</a></td>
                            <td>clm.PolicyTypeName</td>
                            <td>clm.PolicyNumber</td>
                            <td>clm.MakeDesc</td>
                            <td>clm.ModelDesc</td>
                            <td>clm.ChassisNo</td>
                            <td>e(clm.CreationDate.Value)</td>
                            <td class="tran"><a href="#" onclick="SurveyorReserve()">Reserve</a></td>
                            <td class="tran"><a href="#" onclick="SurveyorAssign()">Assign</a></td>

                        </tr>


                    }
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="ui-state-highlight ui-corner-all" style="background:none !important;margin-top: 1%;">
            <span class="ui-icon ui-icon-info" style="float: left"></span>
            <span>No results found.</span>
        </div>
    }
</div>
<div class="aside-right">
    <div class="inner-wrapper">
        <div class="vehicle-item">
            <div class="vehicle-header">
                <img src="/assets/motor/motor.svg" class="vehicle-icon" />
                <div class="vehicle-info">
                    <span class="vehicle-name">vehicle.Vehicle.MakeDesc vehicle.Vehicle.ModelDesc / vehicle.Vehicle.SequanceNo vehicle.Vehicle.CustomNo</span>
                    <span class="vehicle-no" style="text-transform:uppercase">Plate Number : vehicle.Vehicle.PlateNo</span>
                </div>
            </div>
            <div class="vehicle-basic-body">
                <ul class="detail-list">
                    <li class="detailed-item">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Policy No</span>
                            <h3 class="value">policy.policy.PolicyNumber</h3>
                        </div>
                    </li>
                    <li class="detailed-item">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Effective Date</span>
                            <h3 class="value">HelpersDate.FormatDateNoTime(policy.policy.PolicyEffectiveDate)</h3>
                        </div>
                    </li>
                    <li class="detailed-item">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Year of Manufacturing</span>
                            <h3 class="value">vehicle.Vehicle.ManufactureYear</h3>
                        </div>
                    </li>
                    <li class="detailed-item">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Expiry Date</span>
                            <h3 class="value">HelpersDate.FormatDateNoTime(policy.policy.PolicyExpiryDate)</h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="common-slide-popup" id="UpdateReserve"></div>
<div class="common-slide-popup" id="SurveyorAssign"></div>

<script>
    $('#txtFrom').ForceDateEntry();
    $('#txtTo').ForceDateEntry();
</script>