.auth-layout-wrapper::after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: '';
    background: url("../images/login/login_bg.svg") no-repeat bottom;
    /*background: url("../images/login/AJT1.png") no-repeat bottom;*/
    z-index: 0;
}

.auth-layout-wrapper.revert::after {
    transform: scaleX(-1);
}

@media (max-width: 767px) {
    .auth-layout-wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}

.auth-layout-wrapper .auth-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    flex-wrap: wrap;
    padding: 1.688rem 5rem;
    position: relative;
    z-index: 1;
}

@media (max-width: 767px) {
    .auth-layout-wrapper .auth-footer {
        padding: 2rem;
        margin-top: auto;
    }
}

.content-footer {
    background: transparent;
    border-width: 0;
    padding: 0;
    font-size: .75rem;
}

@media (max-width: 767px) {
    .content-footer {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        font-size: .75rem;
    }


}

.side-content-footer {
    padding: 0;
}

.auth-header-wrapper {
    padding: 2rem 5rem;
    display: flex;
}

@media (max-width: 767px) {
    .auth-header-wrapper {
        padding: 0;
        align-items: center;
    }
}

.auth-header-wrapper .auth-logo {
    width: 13rem;
    margin-inline-end: 1.25rem;
    cursor: pointer;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-logo {
        margin-inline-start: 2rem;
    }
}

.auth-header-wrapper .auth-logo .logo {
    width: 100%;
}

.auth-header-wrapper .old-web-btn {
    margin-inline-start: 1.25rem;
    cursor: pointer;
    border: 1.2px solid #679ab4;
    border-radius: 0.375rem;
    text-align: center;
    display: flex;
    overflow: hidden;
    align-items: center;
    transition: width 0.5s;
    white-space: nowrap;
    padding: 1rem;
}

    .auth-header-wrapper .old-web-btn .text {
        margin-inline-start: 1rem;
        font-weight: 400;
        font-size: 1rem;
        line-height: 16px;
        color: #455560;
    }

.auth-header-wrapper .auth-menu-wrapper {
    margin-inline-start: 2rem;
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper {
        position: fixed;
        background-color: #f2f3f5;
        left: 0;
        top: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        z-index: 9999;
        display: block;
        left: -100%;
        transition: all 200ms linear;
        padding: 2rem;
    }
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper.open-mobile-menu {
        left: 0;
        transition: all 200ms linear;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-items {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-items {
        padding: 2rem 0;
        justify-content: space-between;
        background-color: #fff;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-items .auth-menu-item {
    margin-inline-start: 2rem;
    cursor: pointer;
    font-weight: 400;
    font-size: 1rem;
    line-height: 16px;
    color: #455560;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-items .auth-menu-item {
        margin-inline-start: 0;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    overflow: auto;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup {
        position: unset;
        background-color: transparent;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .auth-menu-popup-header {
    padding: 2rem 5rem;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .auth-menu-popup-header {
        padding: 0rem;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .auth-menu-popup-header .header-title {
    color: #9aa2af;
    font-weight: 800;
    font-size: 1.25rem;
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .auth-menu-popup-header .menu-list-wrapper {
    display: flex;
    border-bottom: 1px solid rgba(26, 28, 31, .2);
    padding-bottom: 1rem;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .auth-menu-popup-header .menu-list-wrapper {
        flex-direction: column-reverse;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .auth-menu-popup-header .menu-list-wrapper .popup-menu-lists {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .auth-menu-popup-header .menu-list-wrapper .popup-menu-lists {
        overflow: auto;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .auth-menu-popup-header .menu-list-wrapper .popup-menu-lists .popup-menu-item {
    padding-inline-end: 1rem;
    margin-inline-end: 1rem;
    border-inline-end: 1px solid rgba(26, 28, 31, 0.10196078431372549);
    font-weight: 800;
    font-size: 1.75rem;
    color: #1a1c1f;
    cursor: pointer;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .auth-menu-popup-header .menu-list-wrapper .popup-menu-lists .popup-menu-item {
        font-size: 1.5rem;
        background-color: #fff;
        padding-inline-end: 0;
        padding: 1rem;
        border-radius: 1rem;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .auth-menu-popup-header .menu-list-wrapper .popup-menu-lists .popup-menu-item:last-child {
    border-width: 0;
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .auth-menu-popup-header .menu-list-wrapper .popup-menu-lists .popup-menu-item.active {
    color: #795ceb;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .auth-menu-popup-header .menu-list-wrapper .popup-menu-lists .popup-menu-item.active {
        color: #fff;
        background-color: #795ceb;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .auth-menu-popup-header .menu-list-wrapper .action-wrapper {
    display: flex;
    align-items: center;
    margin-inline-start: auto;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .auth-menu-popup-header .menu-list-wrapper .action-wrapper {
        margin-inline-start: 0;
        margin-bottom: 2rem;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .auth-menu-popup-header .menu-list-wrapper .action-wrapper .button {
    margin-inline-end: 30px;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .auth-menu-popup-header .menu-list-wrapper .action-wrapper .button .text {
        font-size: 1.25rem;
    }

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .auth-menu-popup-header .menu-list-wrapper .action-wrapper .button .btn-arrow {
        margin-inline-start: 0.625rem;
    }

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .auth-menu-popup-header .menu-list-wrapper .action-wrapper .close-menu-icon-wrapper {
    display: flex;
}

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .auth-menu-popup-header .menu-list-wrapper .action-wrapper .close-menu-icon-wrapper .close-menu {
        cursor: pointer;
    }

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations {
    padding: 0rem 5rem;
    display: flex;
    min-height: calc(100vh - 14.375rem);
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations {
        background-color: #fff;
        padding: 2rem;
        display: block;
        min-height: auto;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .menu-left-tabs {
    width: 30%;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .menu-left-tabs {
        width: 100%;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .menu-left-tabs .common-menu-tabs .tab-item {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    transition: all ease-in-out 200ms;
    cursor: pointer;
}

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .menu-left-tabs .common-menu-tabs .tab-item .text {
        font-weight: 800;
        font-size: 2.25rem;
        margin-inline-end: 1rem;
        color: #9aa2af;
    }

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .menu-left-tabs .common-menu-tabs .tab-item .text {
        font-size: 1.25rem;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .menu-left-tabs .common-menu-tabs .tab-item .menu-arrow-icon {
    fill: #795ceb;
    transition: all ease-in-out 200ms;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .menu-left-tabs .common-menu-tabs .tab-item .menu-arrow-icon {
        display: none;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .menu-left-tabs .common-menu-tabs .tab-item.active .text, .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .menu-left-tabs .common-menu-tabs .tab-item:hover .text {
    color: #000;
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .menu-left-tabs .common-menu-tabs .tab-item.active .menu-arrow-icon, .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .menu-left-tabs .common-menu-tabs .tab-item:hover .menu-arrow-icon {
    fill: #000;
    transition: all ease-in-out 200ms;
    margin-inline-start: 1rem;
    transform: scale(1.1);
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper {
        width: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: #f2f3f5;
        padding: 0rem;
        overflow: auto;
        transition: all ease-in-out 200ms;
        display: block;
    }

        .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper.active {
            opacity: 1;
            right: 0;
            transition: all ease-in-out 200ms;
        }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .navigation-columns {
    width: calc(100% / 3 - 1.5rem);
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .navigation-columns {
        width: 100%;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .navigation-columns .menu-cat-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(26, 28, 31, .10196078431372549);
    padding-bottom: 1.5rem;
}

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .navigation-columns .menu-cat-heading .heading {
        font-weight: 800;
        font-size: 1.25rem;
        color: #1a1c1f;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .navigation-columns .menu-cat-heading .heading {
        font-size: 2.25rem;
        padding: 4rem 2rem;
        color: #fff;
    }
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .navigation-columns .menu-cat-heading.motor {
        background-color: #c5314b;
    }

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .navigation-columns .menu-cat-heading.property-casualty {
        background-color: #679ab4;
    }

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .navigation-columns .menu-cat-heading.health-akaful {
        background-color: #247b4b;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .navigation-columns .navigation-list {
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .navigation-columns .navigation-list {
        font-size: 2.25rem;
        padding: 2rem;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .navigation-columns .navigation-list .navigation-item-wrap {
    padding: 0.625rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(26, 28, 31, .10196078431372549);
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .navigation-columns .navigation-list .navigation-item-wrap {
        width: calc(100% / 2 - 0.5rem);
        background-color: #fff;
        display: block;
        box-shadow: 0 4px 10px #000;
        border-radius: 0.75rem;
        border-width: 0;
        margin-bottom: 1rem;
        padding: 1rem;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .navigation-columns .navigation-list .navigation-item-wrap .icon-wrap {
    margin-inline-end: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .navigation-columns .navigation-list .navigation-item-wrap .icon-wrap {
        display: block;
        margin-bottom: 1rem;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .navigation-columns .navigation-list .navigation-item-wrap .icon-wrap .menu-item-icon {
    max-width: 100%;
    max-height: 100%;
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .navigation-columns .navigation-list .navigation-item-wrap .content .content-heading {
    color: #1a1c1f;
    font-weight: 800;
    font-size: 1rem;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .navigation-columns .navigation-list .navigation-item-wrap .content .content-heading {
        font-size: 1.5rem;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .navigation-columns .navigation-list .navigation-item-wrap .content .tagline {
    color: #455560;
    font-weight: 400;
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .navigation-columns .navigation-list .navigation-item-wrap .content .tagline {
        font-size: 1rem;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .loyalty-column {
    width: calc(100% / 2 - 0.75rem);
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .loyalty-column {
        width: 100%;
        padding: 0 2rem;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .loyalty-column .loyalty-card {
    height: 19.313rem;
    border-radius: 1.25rem;
    overflow: hidden;
    position: relative;
    margin-bottom: 1.5rem;
}

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .loyalty-column .loyalty-card .bg-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .loyalty-column .loyalty-card .inner-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
        left: 0;
        padding: 2rem 1.5rem;
    }

        .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .loyalty-column .loyalty-card .inner-wrapper .wrap-logo {
            width: 10rem;
        }

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .loyalty-column .loyalty-card .inner-wrapper .wrap-logo {
        width: 8rem;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .loyalty-column .loyalty-card .inner-wrapper .wrap-logo .loyalty-logo {
    width: 100%;
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .loyalty-column .loyalty-card .inner-wrapper .content .text {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #fff;
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .loyalty-column .loyalty-card .inner-wrapper .content .footer-content {
    margin-top: 1.125rem;
    display: flex;
    align-items: center;
}

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .loyalty-column .loyalty-card .inner-wrapper .content .footer-content .icon-wrapper {
        width: 42px;
        height: 32px;
        background: #fff;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .loyalty-column .loyalty-card .inner-wrapper .content .footer-content .action-text {
        font-weight: 800;
        font-size: 1rem;
        line-height: 120%;
        color: #fff;
        margin-inline-start: 0.75rem;
    }

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper {
        padding: 2rem;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .heading {
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #1a1c1f;
    margin-bottom: 0.5rem;
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .para-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    color: #455560;
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-header-menu {
    display: flex;
    align-items: center;
    padding-top: 1.75rem;
    padding-bottom: 2.25rem;
    border-bottom: 1px solid rgba(26, 28, 31, 0.2);
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-header-menu .menu-item {
        margin-inline-end: 1.25rem;
    }

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-header-menu .menu-item {
        white-space: nowrap;
        padding: 1rem;
        background-color: #fff;
        border-radius: 1rem;
        margin-bottom: 1rem;
        margin-inline-end: 1rem;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-header-menu .menu-item:last-child {
    margin-inline-start: auto;
    margin-inline-end: 0;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-header-menu .menu-item:last-child {
        margin-inline-start: 0;
        margin-bottom: 1rem;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-header-menu .menu-item .menu-text {
    font-weight: 800;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: #1a1c1f;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-header-menu .menu-item .menu-text {
        font-size: 0.9rem;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-header-menu .menu-item .orange-icon {
    margin-inline-start: 1.25rem;
    display: none;
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-cards .customer-card {
        width: calc(100% / 2 - 0.75rem);
        padding: 1.5rem;
        border-radius: 0.75rem;
        position: relative;
        border: 1px solid rgba(26, 28, 31, 0.2);
    }

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-cards .customer-card {
        width: 100%;
        margin-bottom: 2rem;
        overflow: hidden;
        background-color: #fff;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-cards .customer-card .customer-card-heading {
    font-weight: 800;
    font-size: 1.125rem;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #1a1c1f;
    margin-bottom: 0.75rem;
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-cards .customer-card .customer-card-para {
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    color: #455560;
    margin-bottom: 1.75rem;
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-cards .customer-card .customer-card-menu {
    display: block;
}

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-cards .customer-card .customer-card-menu .card-menu-item {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
    }

        .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-cards .customer-card .customer-card-menu .card-menu-item .card-menu-text {
            font-weight: 800;
            font-size: 1rem;
            line-height: 1rem;
            text-transform: uppercase;
            color: #1a1c1f;
        }

        .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-cards .customer-card .customer-card-menu .card-menu-item .orange-icon {
            margin-inline-start: 1.125rem;
        }

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-cards .customer-card .image-bg-wrapper {
    position: absolute;
    width: 17.5rem;
    bottom: -0.8rem;
    right: 0;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-cards .customer-card .image-bg-wrapper {
        bottom: -3rem;
        right: -3rem;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-cards .customer-card .image-bg-wrapper .card-bg-image {
    width: 100%;
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-cards .customer-card:last-child .image-bg-wrapper {
    bottom: -1.5rem;
    right: -2rem;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .customer-cards .customer-card:last-child .image-bg-wrapper {
        bottom: -6rem;
        right: -6rem;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .big-card .customer-big-card {
    display: flex;
    border: 1px solid rgba(26, 28, 31, 0.2);
    border-radius: 0.75rem;
    padding: 1.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .big-card .customer-big-card {
        background-color: #fff;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .big-card .customer-big-card .customer-big-content {
    width: 20.438rem;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .big-card .customer-big-card .customer-big-content {
        width: 100%;
        margin-bottom: 2rem;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .big-card .customer-big-card .customer-big-content .customer-big-heading {
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 120%;
    color: #1a1c1f;
    letter-spacing: -0.01em;
    margin-bottom: 0.5rem;
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .big-card .customer-big-card .customer-big-content .customer-big-para {
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    color: #455560;
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .big-card .customer-big-card .customer-big-menus {
    width: calc(100% - 21.938rem);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .big-card .customer-big-card .customer-big-menus {
        width: 100%;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .big-card .customer-big-card .customer-big-menus .card-menu-item {
    display: flex;
    align-items: center;
    width: calc(100% / 3 - 1rem);
    margin-bottom: 1rem;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .big-card .customer-big-card .customer-big-menus .card-menu-item {
        width: 100%;
        white-space: nowrap;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .big-card .customer-big-card .customer-big-menus .card-menu-item .card-menu-text {
    font-weight: 800;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
    color: #1a1c1f;
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .customer-service-nevigation-wrapper .customer-service .big-card .customer-big-card .customer-big-menus .card-menu-item .orange-icon {
    margin-inline-start: 1.125rem;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .about-items-wrapper {
        padding: 0 2rem;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .about-items-wrapper .about-menu-banner {
    position: relative;
    border-radius: 0.75rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .about-items-wrapper .about-menu-banner {
        display: none;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .about-items-wrapper .about-menu-banner .img-bg {
    width: 100%;
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .about-items-wrapper .about-menu-banner .content-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem 2.5rem;
}

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .about-items-wrapper .about-menu-banner .content-wrap .about-heading {
        font-weight: 800;
        font-size: 2.125rem;
        line-height: 120%;
        letter-spacing: -0.02em;
        color: #fff;
        margin-bottom: 0.5rem;
    }

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .about-items-wrapper .about-menu-banner .content-wrap .about-para {
        font-weight: 400;
        font-size: 1rem;
        line-height: 140%;
        color: #fff;
        margin-bottom: 1.5rem;
        max-width: 23.5rem;
    }

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .about-items-wrapper .about-menu-banner .content-wrap .button {
        padding: 1.25rem 1.5rem;
        font-weight: 800;
        font-size: 1rem;
        line-height: 1rem;
    }

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .about-items-wrapper .about-card-wrap {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgba(26, 28, 31, 0.2);
    padding-top: 1.5rem;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .about-items-wrapper .about-card-wrap {
        border-width: 0;
        padding-top: 0;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .about-items-wrapper .about-card-wrap .about-card {
    width: calc(100% / 2 - 0.75rem);
    justify-content: space-between;
    margin-bottom: 1.5rem;
    background: #f2f3f5;
    border-radius: 0.75rem;
    padding: 1.5rem;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .about-items-wrapper .about-card-wrap .about-card {
        width: 100%;
        padding: 0;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .about-items-wrapper .about-card-wrap .about-card:last-child {
    width: 100%;
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .about-items-wrapper .about-card-wrap .about-card .heading {
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #1a1c1f;
    margin-bottom: 1.75rem;
}

@media (max-width: 767px) {
    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .about-items-wrapper .about-card-wrap .about-card .heading {
        font-size: 2rem;
    }
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .about-items-wrapper .about-card-wrap .about-card .about-card-menu .about-menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .about-items-wrapper .about-card-wrap .about-card .about-card-menu .about-menu-item .about-menu-text {
        font-weight: 800;
        font-size: 1rem;
        line-height: 1rem;
        text-transform: capitalize;
        color: #455560;
    }

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .about-items-wrapper .about-card-wrap .about-card .about-card-menu .about-menu-item .orange-icon {
        margin-inline-start: 1.125rem;
    }

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .media-center-wrapper .heading {
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #1a1c1f;
    margin-bottom: 1.75rem;
}

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .media-center-wrapper .media-card-menu {
    display: flex;
    align-items: center;
    padding-bottom: 1.75rem;
    border-bottom: 1px solid rgba(26, 28, 31, 0.2);
    margin-bottom: 1.5rem;
}

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .media-center-wrapper .media-card-menu .media-menu-item {
        display: flex;
        align-items: center;
        margin-inline-end: 2rem;
    }

        .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .media-center-wrapper .media-card-menu .media-menu-item .media-menu-text {
            font-weight: 800;
            font-size: 1rem;
            line-height: 1rem;
            text-transform: uppercase;
            color: #455560;
        }

        .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .media-center-wrapper .media-card-menu .media-menu-item .orange-icon {
            margin-inline-start: 1.125rem;
        }

.auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .media-center-wrapper .media-center-carousel {
    background: #f2f3f5;
    border-radius: 0.75rem;
    padding: 1.5rem;
}

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .media-center-wrapper .media-center-carousel .carousel-heading {
        font-weight: 800;
        font-size: 1.125rem;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: #1a1c1f;
        margin-bottom: 1.5rem;
    }

    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .media-center-wrapper .media-center-carousel .carousel-item-outer {
        margin: 0 0.75rem;
    }

        .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .media-center-wrapper .media-center-carousel .carousel-item-outer .media-center-card {
            border-radius: 0.75rem;
            overflow: hidden;
            position: relative;
            width: calc(100% - 0.75rem);
        }

            .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .media-center-wrapper .media-center-carousel .carousel-item-outer .media-center-card .bg-image {
                width: 100%;
                transform: scale(1.1);
                object-fit: cover;
            }

            .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .media-center-wrapper .media-center-carousel .carousel-item-outer .media-center-card .media-content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
            }

                .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .media-center-wrapper .media-center-carousel .carousel-item-outer .media-center-card .media-content .news-bedge {
                    margin-bottom: auto;
                    background: #ee7500;
                    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
                    border-radius: 100px;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 16px;
                    color: #fff;
                    width: 4.563rem;
                    padding: 0.5rem 1.125rem;
                }

                .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .media-center-wrapper .media-center-carousel .carousel-item-outer .media-center-card .media-content .media-title {
                    font-weight: 800;
                    font-size: 1.75rem;
                    line-height: 120%;
                    letter-spacing: -0.02em;
                    color: #fff;
                    margin-bottom: 1.75rem;
                }

                .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .media-center-wrapper .media-center-carousel .carousel-item-outer .media-center-card .media-content .media-footer {
                    display: flex;
                    align-items: center;
                }

                    .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .media-center-wrapper .media-center-carousel .carousel-item-outer .media-center-card .media-content .media-footer .text {
                        font-weight: 400;
                        font-size: 1rem;
                        line-height: 1rem;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        margin-inline-end: 1.5rem;
                        position: relative;
                    }

                        .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .media-center-wrapper .media-center-carousel .carousel-item-outer .media-center-card .media-content .media-footer .text::after {
                            position: absolute;
                            content: '';
                            width: 1px;
                            height: 1rem;
                            right: -0.75rem;
                            background-color: #fff;
                        }

                            .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .media-center-wrapper .media-center-carousel .carousel-item-outer .media-center-card .media-content .media-footer .text::after:last-child {
                                background-color: transparent;
                            }

                        .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .media-center-wrapper .media-center-carousel .carousel-item-outer .media-center-card .media-content .media-footer .text:last-child::after {
                            background-color: transparent;
                        }

                        .auth-header-wrapper .auth-menu-wrapper .auth-menu-popup .navigations .navigation-items-wrapper .media-center-wrapper .media-center-carousel .carousel-item-outer .media-center-card .media-content .media-footer .text .orange-icon {
                            margin-inline-start: 1.125rem;
                        }

.auth-wrapper {
    min-height: calc(100vh - 12.438rem);
    display: flex;
    align-items: flex-end;
    padding-inline-start: 5rem;
    position: relative;
    z-index: 1;
}

@media (max-width: 767px) {
    .auth-wrapper {
        min-height: auto;
        padding: 0;
    }
}

.auth-wrapper .auth-inner-wrapper {
    background-color: #fff;
    width: 34.438rem;
    border-radius: 0.75rem 0.75rem 0px 0px;
    padding: 1.5rem;
    max-height: calc(100vh - 16.438rem);
}

@media (max-width: 767px) {
    .auth-wrapper .auth-inner-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f2f3f5;
    }
}

.auth-wrapper .auth-inner-wrapper .auth-form-component {
    background: #f2f3f5;
    border-radius: 0.76rem;
    padding: 4rem;
}

@media (max-width: 767px) {
    .auth-wrapper .auth-inner-wrapper .auth-form-component {
        padding: 0;
        width: 100%;
        background: transparent;
    }
}

.auth-wrapper .auth-inner-wrapper .otp-wrap-container {
    background-color: #fff;
}

@media (max-width: 767px) {
    .auth-wrapper .auth-inner-wrapper .otp-wrap-container {
        padding: 0;
        width: 100%;
        background: transparent;
    }
}

.auth-wrapper .auth-inner-wrapper .auth-form-component .auth-heading {
    font-weight: 800;
    font-size: 2.125rem;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #455560;
    margin-bottom: 1.5rem;
}

.auth-wrapper .auth-inner-wrapper .auth-form-component .verify-content {
    font-size: 1rem;
    line-height: 140%;
    text-align: center;
    color: #455560;
}

    .auth-wrapper .auth-inner-wrapper .auth-form-component .verify-content .verificationContent {
        font-weight: 400;
    }

    .auth-wrapper .auth-inner-wrapper .auth-form-component .verify-content .number {
        font-weight: 700;
    }

.auth-wrapper .auth-inner-wrapper .auth-form-component .code-heading {
    margin-top: 1.5rem;
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #455560;
    margin-bottom: 1.5rem;
}

.auth-wrapper .auth-inner-wrapper .auth-form-component .form-wrapper {
    margin-bottom: 1.5rem;
}

    .auth-wrapper .auth-inner-wrapper .auth-form-component .form-wrapper .otpPinWrapper .container-otp {
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }

        .auth-wrapper .auth-inner-wrapper .auth-form-component .form-wrapper .otpPinWrapper .container-otp .otpPin {
            width: calc(100% / 4 - 0.375rem) !important;
            border-radius: 4px;
        }

            .auth-wrapper .auth-inner-wrapper .auth-form-component .form-wrapper .otpPinWrapper .container-otp .otpPin .otp-input-style {
                background: #f2f3f5;
                width: 100% !important;
                padding: 2.5rem 2rem !important;
                border: 0;
                border-radius: 0.25rem;
            }

@media (max-width: 767px) {
    .auth-wrapper .auth-inner-wrapper .auth-form-component .form-wrapper .otpPinWrapper .container-otp .otpPin .otp-input-style {
        padding: 0;
        width: 100%;
        background: #fff;
    }
}

.auth-wrapper .auth-inner-wrapper .auth-form-component .form-wrapper .submit-button-wrapper .button {
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: #fff;
    padding: 1.188rem;
}

.auth-wrapper .auth-inner-wrapper .auth-form-component .terms-wrapper {
    margin-bottom: 2.5rem;
}

    .auth-wrapper .auth-inner-wrapper .auth-form-component .terms-wrapper .term {
        text-align: center;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 140%;
        text-align: center;
        color: #455560;
    }

    .auth-wrapper .auth-inner-wrapper .auth-form-component .terms-wrapper .term-link {
        color: #679ab4;
    }

.auth-wrapper .auth-inner-wrapper .auth-form-component .forgot-password {
    text-align: center;
}

    .auth-wrapper .auth-inner-wrapper .auth-form-component .forgot-password .forgot-password-link {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 140%;
        text-align: center;
        color: #795ceb;
    }

.auth-wrapper .auth-inner-wrapper .auth-form-component .resend-timer {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 140%;
    text-align: center;
    color: #455560;
    margin-bottom: 1.5rem;
}

.auth-wrapper .auth-inner-wrapper .auth-form-component .resend-option {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 140%;
    text-align: center;
    color: #455560;
}

    .auth-wrapper .auth-inner-wrapper .auth-form-component .resend-option .primary-link {
        color: #679ab4;
        cursor: pointer;
    }

.form-field-wrapper {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    display: inline-block;
    width: 100%;
}

    .form-field-wrapper .form-input-wrapper {
        background: #fff;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        padding: 1.063rem;
        position: relative;
    }

@media (max-width: 767px) {
    .form-field-wrapper .form-input-wrapper {
        background-color: #fff;
    }
}

.form-field-wrapper .form-error {
    color: #f00;
    font-size: 0.75rem;
}

.icon {
    margin-inline-end: 1.063rem;
}

.form-inputbox {
    width: calc(100% - 2.25rem);
    border: 0;
}

    .form-inputbox:focus {
        outline: none;
    }

.form-label {
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #818b9b;
    position: absolute;
    top: 1.25rem;
    left: 3.95rem;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    pointer-events: none;
}

.form-inputbox:focus ~ .form-label, .form-inputbox:valid ~ .form-label {
    top: -20px;
    font-size: 0.875rem;
    left: 0;
}

.revert .form-label {
    right: 3.95rem;
    left: auto;
}

.revert .form-inputbox:focus ~ .form-label, .revert .form-inputbox:valid ~ .form-label {
    right: 0;
    left: auto;
}
.OTPinput {
    width: 84.75px;
    height: 115px;
    /* Neutral/Neutral 01 */

    background: #F2F3F5;
    width: 100% !important;
    padding: 2.5rem 2rem !important;
    border: 0;
    border-radius: 0.25rem;
}
.container-otp input {
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 120%;
    text-align: center;
    /* identical to box height, or 48px */
    align-items: center;
    letter-spacing: -0.02em;
    /* Black */

    color: #1A1C1F;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}