@{
    Layout = null;
}


        <div class="policy-wrapper">
            <h2 class="heading">Delegations Managment</h2>
            <div class="search-member">
                <div class="search-filter-wrapper">


                    <select class="common-dropdown ">
                        <option selected disabled value="">Status</option>
                        <option value="1">Active</option>
                        <option value="0">In-Active</option>
                   </select>

                    <div class="search-heading-wrap">

                        <button class="button button-secondary">Search</button>
                    </div>


                </div>

            </div>
        </div>


        <div class="transaction-details">
            <div class="search-heading-wrap" style="float: right;margin-bottom: 5px;">

                <button class="button button-secondary" onclick="UpdateDelegation(0)">Add Delegation</button>
            </div>
            <table class="universal-table">
                <tr>
                    <!-- <th>#</th> -->
                    <th>From</th>
                    <th>To</th>
                    <th>Delegated From </th>
                    <th>Delegated To</th>
                    <th>Status</th>
                </tr>

                <tr>
                    <!-- <td></td> -->
                    <td class="tran" onclick="UpdateDelegation(1)">#TR44372</td>
                    <td>324234235</td>
                    <td>12/12/12</td>
                    <td>1321231</td>
                    <td>1321231</td>


                </tr>
                <tr>
                    <!-- <td></td> -->
                    <td class="tran">#TR44372</td>
                    <td>324234235</td>
                    <td>12/12/12</td>
                    <td>1321231</td>
                    <td>1321231</td>


                </tr>
                <tr>
                    <!-- <td></td> -->
                    <td class="tran">#TR44372</td>
                    <td>324234235</td>
                    <td>12/12/12</td>
                    <td>1321231</td>
                    <td>1321231</td>


                </tr>
                <tr>
                    <!-- <td></td> -->
                    <td class="tran">#TR44372</td>
                    <td>324234235</td>
                    <td>12/12/12</td>
                    <td>1321231</td>
                    <td>1321231</td>


                </tr>
                <tr>
                    <!-- <td></td> -->
                    <td class="tran">#TR44372</td>
                    <td>324234235</td>
                    <td>12/12/12</td>
                    <td>1321231</td>
                    <td>1321231</td>


                </tr>
                <tr>
                    <!-- <td></td> -->
                    <td class="tran">#TR44372</td>
                    <td>324234235</td>
                    <td>12/12/12</td>
                    <td>1321231</td>
                    <td>1321231</td>


                </tr>
                <tr>
                    <!-- <td></td> -->
                    <td class="tran">#TR44372</td>
                    <td>324234235</td>
                    <td>12/12/12</td>
                    <td>1321231</td>
                    <td>1321231</td>


                </tr>
                <tr>
                    <!-- <td></td> -->
                    <td class="tran">#TR44372</td>
                    <td>324234235</td>
                    <td>12/12/12</td>
                    <td>1321231</td>
                    <td>1321231</td>


                </tr>
            </table>
        </div>



<div id="edit-Delegation-popup" class="edit-member-id-popup">
</div>
