@import url(btnStyle/btnStyle.css);

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.display-none {
    display: none !important;
}

.mt-2 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.display-block {
    display: block;
}

html {
    font-size: 16px;
}

@media (max-width: 1550px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 13px;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F2F3F5;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

    body::-webkit-scrollbar {
        display: none;
    }

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.cursor-pointer {
    cursor: pointer;
}

.policy-internal-wrapper:hover {
    background-color: #795ceb !important;
}

.orange-link {
    color: #0d426c;
}

.form-error {
    color: #e42929;
    font-size: 0.75rem;
}

.text-break {
    word-break: break-word !important;
    overflow-wrap: break-word !important;
}

p.errormsg {
    text-transform: capitalize;
    color: red;
}

.nationalitySelectPrefix__control {
    border-width: 0;
}

.margin-top-0 {
    margin-top: 0 !important;
}

@-webkit-keyframes bottomToTop {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 0;
    }
}

@keyframes bottomToTop {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 0;
    }
}

.page-wrapper .left-content {
    /*margin-top: 6.125rem;*/
    width: calc(100% - 33.75rem);
    -webkit-padding-start: 2.5rem;
    padding-inline-start: 2.5rem;
    -webkit-padding-end: 2.5rem;
    padding-inline-end: 2.5rem;
}

@media (max-width: 767px) {
    .page-wrapper .left-content {
        width: 100%;
        -webkit-padding-start: 0rem;
        padding-inline-start: 0rem;
        -webkit-padding-end: 0rem;
        padding-inline-end: 0rem;
    }
}

.editUserNonEditable {
    opacity: 0.3;
}

.Toastify__toast-container.Toastify__toast-container--top-center {
    margin-top: 4.375rem;
}

.Toastify__toast-container.Toastify__toast-container--top-right {
    margin-top: 4.375rem;
}

.no-data-found {
    margin-top: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

    .no-data-found .empty-icon {
        margin-bottom: 1.5rem;
    }

    .no-data-found .empty-text {
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 160%;
    }

.accordion-wrapper {
    margin-top: 1.5rem;
}

    .accordion-wrapper .accordion-item-wrapper {
        background-color: #ffffff;
        padding: 1.125rem 1.5rem 0 1.5rem;
        -webkit-box-shadow: 0px 4px 10px rgba(26, 28, 31, 0.1);
        box-shadow: 0px 4px 10px rgba(26, 28, 31, 0.1);
        border-radius: 8px;
        margin-bottom: 1rem;
    }

        .accordion-wrapper .accordion-item-wrapper .accordion-header .accordion-collapse-icon-wrapper .icon-minus {
            display: none;
        }

        .accordion-wrapper .accordion-item-wrapper .accordion-header .accordion-collapse-icon-wrapper .icon-plus {
            display: block;
        }

        .accordion-wrapper .accordion-item-wrapper .accordion-body {
            border-top: 1px solid rgba(26, 28, 31, 0.1);
            padding-bottom: 0rem;
            visibility: hidden;
            opacity: 0;
            -webkit-transition: visibility 0s, opacity 0.5s linear;
            transition: visibility 0s, opacity 0.5s linear;
            height: 0;
        }

            .accordion-wrapper .accordion-item-wrapper .accordion-body.active {
                visibility: visible;
                opacity: 1;
                height: auto;
                padding-bottom: 1.5rem;
            }

            .accordion-wrapper .accordion-item-wrapper .accordion-body .dates-and-conpany-wrapper {
                background: #F2F3F5;
                border-radius: 8px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                padding: 1rem 1.063rem;
                margin-top: 1.5rem;
            }

@media (max-width: 767px) {
    .accordion-wrapper .accordion-item-wrapper .accordion-body .dates-and-conpany-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background: transparent;
        padding: 0;
    }
}

.accordion-wrapper .accordion-item-wrapper .accordion-body .dates-and-conpany-wrapper .column-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 0.875rem;
    -webkit-border-end: 1px solid rgba(26, 28, 31, 0.1);
    border-inline-end: 1px solid rgba(26, 28, 31, 0.1);
    width: calc(100% / 3 - 1.063rem);
}

@media (max-width: 767px) {
    .accordion-wrapper .accordion-item-wrapper .accordion-body .dates-and-conpany-wrapper .column-item {
        width: calc(50% - 0.75rem);
        margin-bottom: 1rem;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        border-width: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #F2F3F5;
        padding: 1rem;
        border-radius: 4px;
    }
}

.accordion-wrapper .accordion-item-wrapper .accordion-body .dates-and-conpany-wrapper .column-item:last-child {
    -webkit-border-end: 0;
    border-inline-end: 0;
}

.accordion-wrapper .accordion-item-wrapper .accordion-body .dates-and-conpany-wrapper .column-item .support-icon {
    width: 1rem;
    -webkit-margin-end: 0.594rem;
    margin-inline-end: 0.594rem;
}

@media (max-width: 767px) {
    .accordion-wrapper .accordion-item-wrapper .accordion-body .dates-and-conpany-wrapper .column-item .support-icon {
        -webkit-margin-end: 0;
        margin-inline-end: 0;
    }
}

.accordion-wrapper .accordion-item-wrapper .accordion-body .dates-and-conpany-wrapper .column-item .label {
    font-weight: 400;
}

@media (max-width: 767px) {
    .accordion-wrapper .accordion-item-wrapper .accordion-body .dates-and-conpany-wrapper .column-item .label {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
}

.accordion-wrapper .accordion-item-wrapper .accordion-body .dates-and-conpany-wrapper .column-item .value {
    -webkit-margin-start: 0.5rem;
    margin-inline-start: 0.5rem;
}

@media (max-width: 767px) {
    .accordion-wrapper .accordion-item-wrapper .accordion-body .dates-and-conpany-wrapper .column-item .value {
        width: 100%;
        -webkit-margin-start: 0;
        margin-inline-start: 0;
        text-align: center;
    }
}

.accordion-wrapper .accordion-item-wrapper .accordion-body .action-btn-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1.5rem;
}

@media (max-width: 767px) {
    .accordion-wrapper .accordion-item-wrapper .accordion-body .action-btn-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.accordion-wrapper .accordion-item-wrapper .accordion-body .action-btn-wrapper .button {
    -webkit-margin-end: 0.5rem;
    margin-inline-end: 0.5rem;
}

@media (max-width: 767px) {
    .accordion-wrapper .accordion-item-wrapper .accordion-body .action-btn-wrapper .button {
        width: calc(50% - 0.75rem);
        margin-bottom: 1rem;
        -webkit-margin-end: 0;
        margin-inline-end: 0;
    }
}

.accordion-wrapper .accordion-item-wrapper .accordion-body .action-btn-wrapper .button:last-child {
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
}

@media (max-width: 767px) {
    .accordion-wrapper .accordion-item-wrapper .accordion-body .action-btn-wrapper .button:last-child {
        -webkit-margin-start: 0;
        margin-inline-start: 0;
    }
}

.accordion-wrapper .accordion-item-wrapper .accordion-body .dependent-wrapper {
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(26, 28, 31, 0.1);
}

    .accordion-wrapper .accordion-item-wrapper .accordion-body .dependent-wrapper .dependent-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

        .accordion-wrapper .accordion-item-wrapper .accordion-body .dependent-wrapper .dependent-header .button {
            padding: 0.875rem 1rem;
        }

    .accordion-wrapper .accordion-item-wrapper .accordion-body .dependent-wrapper .dependent-list-body {
        margin-top: 0.5rem;
        background: #F2F3F5;
        border-radius: 8px;
        padding: 0 1.25rem;
    }

        .accordion-wrapper .accordion-item-wrapper .accordion-body .dependent-wrapper .dependent-list-body .accordion-header {
            border-bottom: 1px solid rgba(26, 28, 31, 0.1);
            padding-top: 1.125rem;
            cursor: initial;
        }

            .accordion-wrapper .accordion-item-wrapper .accordion-body .dependent-wrapper .dependent-list-body .accordion-header:last-child {
                border-bottom: 0;
            }

.accordion-wrapper .accordion-item-wrapper.active {
    background-color: #ffffff;
}

    .accordion-wrapper .accordion-item-wrapper.active .accordion-header .accordion-collapse-icon-wrapper .icon-minus {
        display: block;
    }

    .accordion-wrapper .accordion-item-wrapper.active .accordion-header .accordion-collapse-icon-wrapper .icon-plus {
        display: none;
    }

.accordion-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 1.5rem;
    cursor: pointer;
}

    .accordion-header .accordion-collapse-icon-wrapper {
        -webkit-margin-end: 0.875rem;
        margin-inline-end: 0.875rem;
    }

        .accordion-header .accordion-collapse-icon-wrapper .icon-minus {
            width: 28px;
        }

        .accordion-header .accordion-collapse-icon-wrapper .icon-plus {
            width: 28px;
        }

@media (max-width: 767px) {
    .accordion-header {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.accordion-header .plus-icon {
    -webkit-margin-end: 1.813rem;
    margin-inline-end: 1.813rem;
}

.accordion-header .status-icon {
    width: 1.5rem;
    -webkit-margin-end: 1.813rem;
    margin-inline-end: 1.813rem;
}

@media (max-width: 767px) {
    .accordion-header .status-icon {
        -webkit-margin-end: 0;
        margin-inline-end: 0;
    }
}

@media (max-width: 767px) {
    .accordion-header .accordion-heaing-content {
        margin-top: 1rem;
        width: 100%;
    }
}

.accordion-header .accordion-heaing-content .heading-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.25rem;
}

@media (max-width: 767px) {
    .accordion-header .accordion-heaing-content .heading-wrap {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 1rem;
    }
}

.accordion-header .accordion-heaing-content .heading-wrap .heading {
    font-weight: 800;
    font-size: 1rem;
    line-height: 120%;
    color: #1A1C1F;
}

@media (max-width: 767px) {
    .accordion-header .accordion-heaing-content .heading-wrap .heading {
        font-size: 1.25rem;
    }
}

.accordion-header .accordion-heaing-content .heading-wrap .reject {
    -webkit-margin-start: 0.594rem;
    margin-inline-start: 0.594rem;
}

.accordion-header .accordion-heaing-content .heading-wrap .age-badge {
    background: #312E52;
    border-radius: 100px;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: #ffffff;
    -webkit-margin-start: 0.5rem;
    margin-inline-start: 0.5rem;
    padding: 0.25rem 0.625rem;
}

@media (max-width: 767px) {
    .accordion-header .accordion-heaing-content .heading-wrap .age-badge {
        font-size: 1.5rem;
    }
}

.accordion-header .accordion-heaing-content .detail-basic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 767px) {
    .accordion-header .accordion-heaing-content .detail-basic {
        display: block;
    }
}

.accordion-header .accordion-heaing-content .detail-basic .detailed-item {
    -webkit-margin-end: 0.75rem;
    margin-inline-end: 0.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.75rem;
    line-height: 0.75rem;
}

@media (max-width: 767px) {
    .accordion-header .accordion-heaing-content .detail-basic .detailed-item {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        font-size: 1rem;
    }
}

.accordion-header .accordion-heaing-content .detail-basic .detailed-item .label {
    font-weight: 400;
    color: #455560;
    -webkit-margin-end: 0.25rem;
    margin-inline-end: 0.25rem;
}

.accordion-header .accordion-heaing-content .detail-basic .detailed-item .value {
    font-weight: 800;
    color: #1A1C1F;
}

.accordion-header .class-tag {
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    background: #F5F2FF;
    border-radius: 100px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 14px;
    color: #0d426c;
    padding: 0.5rem 1rem;
}

    .accordion-header .class-tag.resubmit {
        -webkit-margin-start: 1rem;
        margin-inline-start: 1rem;
        color: #FF6D01;
    }

.accordion-header .total-person {
    background: #dedede;
    border-radius: 100px;
    padding: 0.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-margin-start: 0.75rem;
    margin-inline-start: 0.75rem;
}

    .accordion-header .total-person .users-icon {
        -webkit-margin-start: 0.65rem;
        margin-inline-start: 0.65rem;
        -webkit-margin-end: 0.5rem;
        margin-inline-end: 0.5rem;
        width: 1.5rem;
    }

    .accordion-header .total-person .user-count {
        width: 1.5rem;
        height: 1.5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #ffffff;
        font-weight: 800;
        font-size: 0.7rem;
        line-height: 0.7rem;
        color: #1A1C1F;
    }

.form-field-wrapper {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    display: inline-block;
    width: 100%;
}

    .form-field-wrapper .form-input-wrapper {
        background: #ffffff;
        border-radius: 0.25rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 1.063rem;
        position: relative;
    }

@media (max-width: 767px) {
    .form-field-wrapper .form-input-wrapper {
        background-color: #ffffff;
    }
}

.form-field-wrapper .form-input-wrapper .auth-field-icon {
    -webkit-margin-end: 1.063rem;
    margin-inline-end: 1.063rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

    .form-field-wrapper .form-input-wrapper .auth-field-icon .icon {
        width: 20px;
    }

.form-field-wrapper .form-input-wrapper .icon-hide-show {
    width: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

    .form-field-wrapper .form-input-wrapper .icon-hide-show .icon {
        width: 100%;
    }

.form-field-wrapper .form-error {
    color: red;
    font-size: 0.75rem;
}

.form-inputbox {
    width: calc(100% - 2.25rem);
    border: 0;
}

    .form-inputbox:focus {
        outline: none;
    }

.form-label {
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #818B9B;
    position: absolute;
    top: 1.25rem;
    left: 3.95rem;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    pointer-events: none;
}

    .form-label.non-icon {
        left: 1rem;
    }

.form-inputbox:focus ~ .form-label,
.form-inputbox:valid ~ .form-label {
    top: -20px;
    font-size: 0.875rem;
    left: 0;
}

.revert .form-label {
    right: 3.95rem;
    left: auto;
}

    .revert .form-label.non-icon {
        right: 1rem;
    }

.revert .form-inputbox:focus ~ .form-label,
.revert .form-inputbox:valid ~ .form-label {
    right: 0;
    left: auto;
}

    .revert .form-inputbox:focus ~ .form-label.non-icon,
    .revert .form-inputbox:valid ~ .form-label.non-icon {
        right: 1rem;
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.mobileNumber {
    width: 100%;
    background: #ffffff;
    border-radius: 4px;
    border: none;
    height: 54px;
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
}

.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-radius: 4px;
}

.mobileNumber {
    padding: 10px 50px;
}

input[type=number]:focus-visible {
    border: none;
    outline: none;
}

.flag {
    background: #F2F3F5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 19px 15px;
    margin: 0px;
}

    .flag svg {
        margin: 0 10px;
    }

.arrow {
    border: solid #000000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    width: 4px;
    height: 4px;
    margin: 3px 10px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.grid-class {
    display: -ms-grid;
    display: grid;
    grid-gap: 1.4rem;
    /* place-items: center; */
    /* place-content: center; */
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
}

.grid-wrapper {
    display: -ms-grid;
    display: grid;
    grid-gap: 1.4rem;
    /* place-items: center; */
    /* place-content: center; */
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
}

.grid-wrapper-dependent {
    display: -ms-grid;
    display: grid;
    grid-gap: 1.4rem;
    /* place-items: center; */
    /* place-content: center; */
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
}

label.radio-card-v3 {
    cursor: pointer;
}

    label.radio-card-v3 .card-content-wrapper {
        background: #ffffff;
        border-radius: 0.5rem;
        padding: 1rem;
        display: -ms-grid;
        display: grid;
        -webkit-box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.04);
        box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.04);
        -webkit-transition: 200ms linear;
        transition: 200ms linear;
        position: relative;
    }

        label.radio-card-v3 .card-content-wrapper .class-header {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            margin-bottom: 1rem;
        }

        label.radio-card-v3 .card-content-wrapper .class-detailed {
            font-size: 1rem;
            color: #000000;
        }

    label.radio-card-v3 .class-price-and-description {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 1.5rem;
        color: #0d426c;
    }

        label.radio-card-v3 .class-price-and-description .price-class {
            font-size: 2.5rem;
            font-weight: 700;
        }

            label.radio-card-v3 .class-price-and-description .price-class .price-unit {
                font-weight: 400;
                font-size: 1.25rem;
            }

        label.radio-card-v3 .class-price-and-description .check-icon {
            width: 20px;
            height: 20px;
            display: inline-block;
            border: solid 2px #e3e3e3;
            border-radius: 50%;
            -webkit-transition: 200ms linear;
            transition: 200ms linear;
            position: relative;
            -webkit-margin-end: 0.5rem;
            margin-inline-end: 0.5rem;
            margin-top: 20px;
            margin-left: auto;
        }

            label.radio-card-v3 .class-price-and-description .check-icon:before {
                content: '';
                position: absolute;
                inset: 0;
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.93552 4.58423C0.890286 4.53718 0.854262 4.48209 0.829309 4.42179C0.779553 4.28741 0.779553 4.13965 0.829309 4.00527C0.853759 3.94471 0.889842 3.88952 0.93552 3.84283L1.68941 3.12018C1.73378 3.06821 1.7893 3.02692 1.85185 2.99939C1.91206 2.97215 1.97736 2.95796 2.04345 2.95774C2.11507 2.95635 2.18613 2.97056 2.2517 2.99939C2.31652 3.02822 2.3752 3.06922 2.42456 3.12018L4.69872 5.39851L9.58026 0.516971C9.62828 0.466328 9.68554 0.42533 9.74895 0.396182C9.81468 0.367844 9.88563 0.353653 9.95721 0.354531C10.0244 0.354903 10.0907 0.369582 10.1517 0.397592C10.2128 0.425602 10.2672 0.466298 10.3112 0.516971L11.0651 1.25003C11.1108 1.29672 11.1469 1.35191 11.1713 1.41247C11.2211 1.54686 11.2211 1.69461 11.1713 1.82899C11.1464 1.88929 11.1104 1.94439 11.0651 1.99143L5.06525 7.96007C5.02054 8.0122 4.96514 8.0541 4.90281 8.08294C4.76944 8.13802 4.61967 8.13802 4.4863 8.08294C4.42397 8.0541 4.36857 8.0122 4.32386 7.96007L0.93552 4.58423Z' fill='white'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-size: 12px;
                background-position: center center;
                -webkit-transform: scale(1.6);
                transform: scale(1.6);
                -webkit-transition: 200ms linear;
                transition: 200ms linear;
                opacity: 0;
            }

    label.radio-card-v3 input[type='radio'] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        display: none;
    }

        label.radio-card-v3 input[type='radio']:checked + .card-content-wrapper {
            -webkit-box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.5), 0 0 0 2px #0d426c;
            box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.5), 0 0 0 2px #0d426c;
        }

            label.radio-card-v3 input[type='radio']:checked + .card-content-wrapper .check-icon {
                background: #0d426c;
                border-color: #0d426c;
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }

                label.radio-card-v3 input[type='radio']:checked + .card-content-wrapper .check-icon:before {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    opacity: 1;
                }

        label.radio-card-v3 input[type='radio']:focus + .card-content-wrapper .check-icon {
            -webkit-box-shadow: 0 0 0 4px rgba(48, 86, 213, 0.2);
            box-shadow: 0 0 0 4px rgba(48, 86, 213, 0.2);
            border-color: #3056d5;
        }

    label.radio-card-v3 .card-content {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        label.radio-card-v3 .card-content img {
            -webkit-margin-end: 1rem;
            margin-inline-end: 1rem;
        }

        label.radio-card-v3 .card-content .title {
            font-size: 1rem;
            letter-spacing: -0.24px;
            text-align: center;
            color: #1f2949;
        }

label.radio-card-v2 {
    cursor: pointer;
    min-width:30%;
    padding-left:2%;
}

    label.radio-card-v2 .card-content-wrapper {
        background: #ffffff;
        border-radius: 0.5rem;
        padding: 1rem;
        display: -ms-grid;
        display: grid;
        -webkit-box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.04);
        box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.04);
        -webkit-transition: 200ms linear;
        transition: 200ms linear;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
    }

    label.radio-card-v2 .check-icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        border: solid 2px #e3e3e3;
        border-radius: 50%;
        -webkit-transition: 200ms linear;
        transition: 200ms linear;
        position: relative;
        -webkit-margin-end: 0.5rem;
        margin-inline-end: 0.5rem;
    }

        label.radio-card-v2 .check-icon:before {
            content: '';
            position: absolute;
            inset: 0;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.93552 4.58423C0.890286 4.53718 0.854262 4.48209 0.829309 4.42179C0.779553 4.28741 0.779553 4.13965 0.829309 4.00527C0.853759 3.94471 0.889842 3.88952 0.93552 3.84283L1.68941 3.12018C1.73378 3.06821 1.7893 3.02692 1.85185 2.99939C1.91206 2.97215 1.97736 2.95796 2.04345 2.95774C2.11507 2.95635 2.18613 2.97056 2.2517 2.99939C2.31652 3.02822 2.3752 3.06922 2.42456 3.12018L4.69872 5.39851L9.58026 0.516971C9.62828 0.466328 9.68554 0.42533 9.74895 0.396182C9.81468 0.367844 9.88563 0.353653 9.95721 0.354531C10.0244 0.354903 10.0907 0.369582 10.1517 0.397592C10.2128 0.425602 10.2672 0.466298 10.3112 0.516971L11.0651 1.25003C11.1108 1.29672 11.1469 1.35191 11.1713 1.41247C11.2211 1.54686 11.2211 1.69461 11.1713 1.82899C11.1464 1.88929 11.1104 1.94439 11.0651 1.99143L5.06525 7.96007C5.02054 8.0122 4.96514 8.0541 4.90281 8.08294C4.76944 8.13802 4.61967 8.13802 4.4863 8.08294C4.42397 8.0541 4.36857 8.0122 4.32386 7.96007L0.93552 4.58423Z' fill='white'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: 12px;
            background-position: center center;
            -webkit-transform: scale(1.6);
            transform: scale(1.6);
            -webkit-transition: 200ms linear;
            transition: 200ms linear;
            opacity: 0;
        }

    label.radio-card-v2 input[type='radio'] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        display: none;
    }

        label.radio-card-v2 input[type='radio']:checked + .card-content-wrapper {
            -webkit-box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.5), 0 0 0 2px #0d426c;
            box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.5), 0 0 0 2px #0d426c;
        }

            label.radio-card-v2 input[type='radio']:checked + .card-content-wrapper .check-icon {
                background: #0d426c;
                border-color: #0d426c;
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }

                label.radio-card-v2 input[type='radio']:checked + .card-content-wrapper .check-icon:before {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    opacity: 1;
                }

        label.radio-card-v2 input[type='radio']:focus + .card-content-wrapper .check-icon {
            -webkit-box-shadow: 0 0 0 4px rgba(48, 86, 213, 0.2);
            box-shadow: 0 0 0 4px rgba(48, 86, 213, 0.2);
            border-color: #3056d5;
        }

    label.radio-card-v2 .card-content {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        label.radio-card-v2 .card-content img {
            -webkit-margin-end: 1rem;
            margin-inline-end: 1rem;
        }

        label.radio-card-v2 .card-content .title {
            font-size: 1rem;
            letter-spacing: -0.24px;
            text-align: center;
            color: #1f2949;
        }

label.radio-card {
    cursor: pointer;
}

    label.radio-card .card-content-wrapper {
        background: #fff;
        border-radius: 0.5rem;
        padding: 1rem;
        display: -ms-grid;
        display: grid;
        -webkit-box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.04);
        box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.04);
        -webkit-transition: 200ms linear;
        transition: 200ms linear;
        position: relative;
    }

    label.radio-card .check-icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        border: solid 2px #e3e3e3;
        border-radius: 50%;
        -webkit-transition: 200ms linear;
        transition: 200ms linear;
        position: relative;
        margin: 0 auto;
    }

        label.radio-card .check-icon:before {
            content: '';
            position: absolute;
            inset: 0;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.93552 4.58423C0.890286 4.53718 0.854262 4.48209 0.829309 4.42179C0.779553 4.28741 0.779553 4.13965 0.829309 4.00527C0.853759 3.94471 0.889842 3.88952 0.93552 3.84283L1.68941 3.12018C1.73378 3.06821 1.7893 3.02692 1.85185 2.99939C1.91206 2.97215 1.97736 2.95796 2.04345 2.95774C2.11507 2.95635 2.18613 2.97056 2.2517 2.99939C2.31652 3.02822 2.3752 3.06922 2.42456 3.12018L4.69872 5.39851L9.58026 0.516971C9.62828 0.466328 9.68554 0.42533 9.74895 0.396182C9.81468 0.367844 9.88563 0.353653 9.95721 0.354531C10.0244 0.354903 10.0907 0.369582 10.1517 0.397592C10.2128 0.425602 10.2672 0.466298 10.3112 0.516971L11.0651 1.25003C11.1108 1.29672 11.1469 1.35191 11.1713 1.41247C11.2211 1.54686 11.2211 1.69461 11.1713 1.82899C11.1464 1.88929 11.1104 1.94439 11.0651 1.99143L5.06525 7.96007C5.02054 8.0122 4.96514 8.0541 4.90281 8.08294C4.76944 8.13802 4.61967 8.13802 4.4863 8.08294C4.42397 8.0541 4.36857 8.0122 4.32386 7.96007L0.93552 4.58423Z' fill='white'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: 12px;
            background-position: center center;
            -webkit-transform: scale(1.6);
            transform: scale(1.6);
            -webkit-transition: 200ms linear;
            transition: 200ms linear;
            opacity: 0;
        }

    label.radio-card .card-content img {
        margin-bottom: 10px;
    }

    label.radio-card .card-content h4 {
        font-size: 16px;
        letter-spacing: -0.24px;
        text-align: center;
        color: #1f2949;
        margin-bottom: 0;
    }

    label.radio-card .card-content h5 {
        font-size: 14px;
        line-height: 1.4;
        text-align: center;
        color: #686d73;
    }

    label.radio-card input[type='radio'] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

        label.radio-card input[type='radio']:checked + .card-content-wrapper {
            -webkit-box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.5), 0 0 0 2px #0d426c;
            box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.5), 0 0 0 2px #0d426c;
        }

            label.radio-card input[type='radio']:checked + .card-content-wrapper .check-icon {
                background: #0d426c;
                border-color: #0d426c;
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }

                label.radio-card input[type='radio']:checked + .card-content-wrapper .check-icon:before {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    opacity: 1;
                }

        label.radio-card input[type='radio']:focus + .card-content-wrapper .check-icon {
            -webkit-box-shadow: 0 0 0 4px rgba(48, 86, 213, 0.2);
            box-shadow: 0 0 0 4px rgba(48, 86, 213, 0.2);
            border-color: #ffffff;
        }

.credit-cards {
    position: absolute;
    top: 50%;
    right: 2rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-margin-start: auto;
    margin-inline-start: auto;
}

.form-controlar {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 8px;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

    .form-controlar.health {
        padding: 0.5rem;
    }

    .form-controlar .multiselect-dropdown {
        padding: 0.5rem;
    }

.form-container-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

    .form-container-mobile .country-code {
        background-color: #0d426c;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 1rem;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
    }

        .form-container-mobile .country-code .country-image {
            width: 1rem;
            -webkit-margin-end: 0.5rem;
            margin-inline-end: 0.5rem;
        }

        .form-container-mobile .country-code .mobile-number-code {
            font-size: 1rem;
            color: #ffffff;
        }

    .form-container-mobile .form-controlar {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

.ducument-detaild {
    margin-top: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 1.5rem;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

    .ducument-detaild .document-card {
        background-color: #F2F3F5;
        border-radius: 8px;
        padding: 3rem 1.5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
    }

        .ducument-detaild .document-card.not-border-user {
            display: none;
        }

        .ducument-detaild .document-card.not-bedoon-user {
            display: none;
        }

        .ducument-detaild .document-card .docuemet-icon {
            width: 3rem;
            margin: 0 auto;
            margin-bottom: 2rem;
        }

        .ducument-detaild .document-card .document-tile-text {
            font-size: 1rem;
            font-weight: 700;
            text-align: center;
            color: #000000;
        }

        .ducument-detaild .document-card .ducument-control {
            display: none;
        }


.ducument-detaild-Attachment {
    margin-left:25%;
}

    .ducument-detaild-Attachment .document-card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
    }

        .ducument-detaild-Attachment .document-card.not-border-user {
            display: none;
        }

        .ducument-detaild-Attachment .document-card.not-bedoon-user {
            display: none;
        }

        .ducument-detaild-Attachment .document-card .docuemet-icon {
            width: 2rem;
            margin: 0 auto;
            margin-bottom: 0.5rem;
        }

        .ducument-detaild-Attachment .document-card .document-tile-text {
            font-size: 1rem;
            font-weight: 700;
            text-align: center;
            color: #000000;
        }

        .ducument-detaild-Attachment .document-card .ducument-control {
            display: none;
        }
.footer-actions-handle {
    background-color: #ffffff;
    padding: 1rem;
    width: calc(100% - 45rem);
    position: fixed;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    bottom: 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.04);
    box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.04);
    left: 8rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

    .footer-actions-handle .next-button .button {
        padding: 1rem 3rem;
        font-size: 1rem;
    }
.footer-actions-handle-Full {
    background-color: #ffffff;
    padding: 1rem;
    width: calc(100% - 11rem);
    position: fixed;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    bottom: 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.04);
    box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.04);
    left: 8rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

    .footer-actions-handle-Full .next-button .button {
        padding: 1rem 3rem;
        font-size: 1rem;
    }
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes animateRight {
    from {
        right: -300px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

@keyframes animateRight {
    from {
        right: -300px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 1.625rem;
    height: 1rem;
    margin-top: 0.188rem;
    margin-right: 0.313rem;
    /* Rounded sliders */
}

    .switch.disabled {
        opacity: 0.5;
    }

    .switch .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .switch .switch-check-box {
        margin-top: 0;
        opacity: 0;
    }

    .switch .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #cccccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .switch .slider:before {
            position: absolute;
            content: "";
            height: 0.75rem;
            width: 0.75rem;
            left: 0.125rem;
            bottom: 0.125rem;
            background-color: #ffffff;
            -webkit-transition: .4s;
            transition: .4s;
        }

    .switch input:checked + .slider {
        background-color: #0d426c;
    }

        .switch input:checked + .slider:before {
            -webkit-transform: translateX(0.625rem);
            transform: translateX(0.625rem);
        }

    .switch .slider.round {
        border-radius: 2.125rem;
    }

        .switch .slider.round:before {
            border-radius: 50%;
        }

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

    .styled-checkbox + label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

        .styled-checkbox + label:before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            width: 20px;
            height: 20px;
            background: rgb(225,225,225);
            border-radius: 4px;
        }

    .styled-checkbox:hover + label:before {
        background: #0d426c;
    }

    .styled-checkbox:focus + label:before {
        -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    .styled-checkbox:checked + label:before {
        background: #0d426c;
    }

    .styled-checkbox:disabled + label {
        color: #b8b8b8;
        cursor: auto;
    }

        .styled-checkbox:disabled + label:before {
            -webkit-box-shadow: none;
            box-shadow: none;
            background: #ddd;
        }

    .styled-checkbox:checked + label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background: #F2F3F5;
        width: 2px;
        height: 2px;
        -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

.dummy-positioning {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.success-icon {
    display: inline-block;
    width: 8em;
    height: 8em;
    font-size: 20px;
    border-radius: 50%;
    border: 4px solid #96df8f;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: showSuccess 180ms ease-in-out;
    animation: showSuccess 180ms ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.success-icon__tip, .success-icon__long {
    display: block;
    position: absolute;
    height: 4px;
    background-color: #96df8f;
    border-radius: 10px;
}

.success-icon__tip {
    width: 2.4em;
    top: 4.3em;
    left: 1.4em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: tipInPlace 300ms ease-in-out;
    animation: tipInPlace 300ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 180ms;
    animation-delay: 180ms;
    visibility: hidden;
}

.success-icon__long {
    width: 4em;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 3.70em;
    left: 2.75em;
    -webkit-animation: longInPlace 140ms ease-in-out;
    animation: longInPlace 140ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    visibility: hidden;
    -webkit-animation-delay: 440ms;
    animation-delay: 440ms;
}

@-webkit-keyframes showSuccess {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes showSuccess {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes tipInPlace {
    from {
        width: 0em;
        top: 0em;
        left: -1.6em;
    }

    to {
        width: 2.4em;
        top: 4.3em;
        left: 1.4em;
        visibility: visible;
    }
}

@keyframes tipInPlace {
    from {
        width: 0em;
        top: 0em;
        left: -1.6em;
    }

    to {
        width: 2.4em;
        top: 4.3em;
        left: 1.4em;
        visibility: visible;
    }
}

@-webkit-keyframes longInPlace {
    from {
        width: 0em;
        top: 5.1em;
        left: 3.2em;
    }

    to {
        width: 4em;
        top: 3.70em;
        left: 2.75em;
        visibility: visible;
    }
}

@keyframes longInPlace {
    from {
        width: 0em;
        top: 5.1em;
        left: 3.2em;
    }

    to {
        width: 4em;
        top: 3.70em;
        left: 2.75em;
        visibility: visible;
    }
}

.header-logedin {
    position: fixed;
    right: 0;
    z-index: 9999;
    width: calc(100% - 7rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    .header-logedin .static-header {
        -webkit-margin-start: auto;
        margin-inline-start: auto;
    }

.profile {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #F2F3F5;
}

    .profile img {
        width: 100%;
    }

.button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

    .button .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        border: solid #ffffff;
        margin: 0.5rem;
    }

    .button .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        border: solid #312E52;
        margin: 0.5rem;
    }

    .button .arrow {
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
    }

    .button:disabled {
        opacity: 0.3;
    }

.button-primary {
    background: #0d426c;
    border-radius: 4px;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: #ffffff;
}

.button-primary-big {
    background: #0d426c;
    border-radius: 4px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: #ffffff;
    padding: 0.8rem;
    gap: 10px;
}

.button-secondary {
    background: #312E52;
    border-radius: 6px;
    color: #ffffff;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 0.875rem;
    padding: 0.844rem 0.719rem;
}

    .button-secondary .btn-icon {
        width: 1rem;
        -webkit-margin-end: 0.594rem;
        margin-inline-end: 0.594rem;
    }

.button-secondary-border {
    color: #312E52;
    border-color: #312E52;
}

.button-delete-border {
    background: transparent;
    border-radius: 6px;
    color: #FF4136;
    border: 1px solid #FF4136;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 0.875rem;
    padding: 0.844rem 0.719rem;
}

    .button-delete-border .btn-icon {
        width: 1rem;
        -webkit-margin-end: 0.594rem;
        margin-inline-end: 0.594rem;
    }

.full-width-btn {
    width: 100%;
}

.button-default {
    background: #D9DCE1;
    color: #312E52;
}

.button-default-blank-primary {
    background: transparent;
    color: #0d426c;
}

.button-disabled {
    background-color: #B3B9C3;
    color: #ffffff;
}

.icon-extra {
    -webkit-margin-end: 0.594rem;
    margin-inline-end: 0.594rem;
}

.primary-button-varient {
    background: #0d426c;
    border-radius: 4px;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: #ffffff;
}

.rtl {
    direction: rtl;
}

    .rtl .header-logedin {
        right: auto;
        left: 0;
    }

    .rtl .main-layout .content-wrapper .page-wrapper .right-sidebar {
        left: 0;
        right: auto;
    }
/*# sourceMappingURL=commonStyle.css.map */

.loading-icon {
    width: 16px;
    height: 16px;
    background: url(~/assets/icons/loading-icon.gif) no-repeat;
}

.download {
    font-size: 1.063rem;
    color: #0d426c;
    cursor: pointer;
    text-align: center;
}

.checkbox {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 0.875rem;
    color: #455560;
}




.checkbox-wrapper-34 {
    --blue: #0D7EFF;
    --g08: #E1E5EB;
    --g04: #848ea1;
    --red: #f10d0d;
}

    .checkbox-wrapper-34 .tgl {
        display: none;
    }

        .checkbox-wrapper-34 .tgl,
        .checkbox-wrapper-34 .tgl:after,
        .checkbox-wrapper-34 .tgl:before,
        .checkbox-wrapper-34 .tgl *,
        .checkbox-wrapper-34 .tgl *:after,
        .checkbox-wrapper-34 .tgl *:before,
        .checkbox-wrapper-34 .tgl + .tgl-btn {
            box-sizing: border-box;
        }

            .checkbox-wrapper-34 .tgl::selection,
            .checkbox-wrapper-34 .tgl:after::selection,
            .checkbox-wrapper-34 .tgl:before::selection,
            .checkbox-wrapper-34 .tgl *::selection,
            .checkbox-wrapper-34 .tgl *:after::selection,
            .checkbox-wrapper-34 .tgl *:before::selection,
            .checkbox-wrapper-34 .tgl + .tgl-btn::selection {
                background: none;
            }

            .checkbox-wrapper-34 .tgl + .tgl-btn {
                outline: 0;
                display: block;
                width: 57px;
                height: 27px;
                position: relative;
                cursor: pointer;
                user-select: none;
                font-size: 12px;
                font-weight: 400;
                color: #fff;
            }

                .checkbox-wrapper-34 .tgl + .tgl-btn:after,
                .checkbox-wrapper-34 .tgl + .tgl-btn:before {
                    position: relative;
                    display: block;
                    content: "";
                    width: 44%;
                    height: 100%;
                }

                .checkbox-wrapper-34 .tgl + .tgl-btn:after {
                    left: 0;
                }

                .checkbox-wrapper-34 .tgl + .tgl-btn:before {
                    display: inline;
                    position: absolute;
                    top: 7px;
                }

            .checkbox-wrapper-34 .tgl:checked + .tgl-btn:after {
                left: 56.5%;
            }

    .checkbox-wrapper-34 .tgl-ios + .tgl-btn {
        background: var(--g08);
        border-radius: 20rem;
        padding: 2px;
        transition: all 0.4s ease;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    }

        .checkbox-wrapper-34 .tgl-ios + .tgl-btn:after {
            border-radius: 2em;
            background: #fff;
            transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        }

        .checkbox-wrapper-34 .tgl-ios + .tgl-btn:before {
            content: "No";
            left: 28px;
            color: var(--g04);
            transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        .checkbox-wrapper-34 .tgl-ios + .tgl-btn:active {
            box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
        }

            .checkbox-wrapper-34 .tgl-ios + .tgl-btn:active:after {
                padding-right: 0.4em;
            }

    .checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn {
        background: var(--red);
    }

        .checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:active {
            box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
        }

            .checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:active:after {
                margin-left: -0.4em;
            }

        .checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:before {
            content: "Yes";
            left: 4px;
            color: #fff;
        }


.tabs-wrapper {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 4rem;
}

    .tabs-wrapper .tabs-navigation-wrap {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        border-bottom: 1px solid rgba(26, 28, 31, 0.1);
    }

        .tabs-wrapper .tabs-navigation-wrap .tab-navigation {
            padding: 1rem;
            background-color: #ffffff;
            cursor: pointer;
        }

            .tabs-wrapper .tabs-navigation-wrap .tab-navigation.active {
                background-color: #F2F3F5;
                font-weight:bold;
            }

    .tabs-wrapper .tabbs-content-wrapper {
        margin-top: 1.5rem;
    }

        .tabs-wrapper .tabbs-content-wrapper .tab-items-container {
            width: 100%;
            display: none;
        }

            .tabs-wrapper .tabbs-content-wrapper .tab-items-container.active {
                display: block;
            }

            .tabs-wrapper .tabbs-content-wrapper .tab-items-container .heading {
                margin-bottom: 1rem;
            }

            .tabs-wrapper .tabbs-content-wrapper .tab-items-container .tab-para {
                margin-bottom: 1rem;
            }

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

    .styled-checkbox + label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

        .styled-checkbox + label:before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            width: 20px;
            height: 20px;
            background: rgb(225,225,225);
            border-radius: 4px;
        }

    .styled-checkbox:hover + label:before {
        background: #795ceb;
    }

    .styled-checkbox:focus + label:before {
        -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    .styled-checkbox:checked + label:before {
        background: #795ceb;
    }

    .styled-checkbox:disabled + label {
        color: #b8b8b8;
        cursor: auto;
    }

        .styled-checkbox:disabled + label:before {
            -webkit-box-shadow: none;
            box-shadow: none;
            background: #ddd;
        }

    .styled-checkbox:checked + label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background: #F2F3F5;
        width: 2px;
        height: 2px;
        -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }


.plan-select-check{
    margin-top:15px;
}