
@using CORE.DTOs.MotorClaim.Claims;
@{
    Layout = null;
}

@model List<ClaimHistory>

<div class="basic-detail">
    <div class="policy-header">
        <div class="name-number-wrapper">
            <div class="policy-name-wrapper">
                <img src="/assets/icons/empty-file.svg" class="policy-icon" />
                <p class="policy-name">Documents Info</p>
            </div>

        </div>

    </div>
    <div class="policy-detail-body undefined">
        <div class="inner-clild-wrap">
              @foreach (var clm in Model)
            {
            <ul class="detail-list">
                <li class="detailed-item false">
                    <span class="detailed-icon-wrap">
                        <img src="/assets/icons/save.svg" alt="" class="item-icon">
                    </span>
                    <div class="item-content">
                        <span class="label">Claim Number</span>
                            <h3 class="value ellipsis"><a href="_app">@Helpers.FormatLongDate(clm.ChangeDate)</a></h3>
                    </div>
                </li>
                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Claim Number</span>
                            <h3 class="value ellipsis"><a href="_app">clm.UserName</a></h3>
                        </div>
                    </li>
                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Claim Number</span>
                            <h3 class="value ellipsis"><a href="_app">clm.Reason</a></h3>
                        </div>
                    </li>
            </ul>
                            }
            
        </div>

    </div>
</div>


