<div class="page-wrapper">
    <div class="left-content">
        <div class="policy-wrapper">
            <h2 class="heading">Sytem Setup</h2>
            <div class="policy-carousel-wrapper">

                <div  class="policy-card cursor-pointer" onclick="LoadDelegationSection()">
                    <div class="policy-internal-wrapper">
                        <div class="policy-card-header">
                            <div class="policy-type-icon">
                                <img src="/assets/icons/delegation.png" width="50" />
                            </div>
                        </div>
                        <div class="policy-card-body">
                            <h3 class="policy-name">Delegation</h3>
                        </div>
                     
                    </div>
                </div>

                <div class="policy-card cursor-pointer" onclick="LoadWorkFlowSection()">
                    <div class="policy-internal-wrapper">
                        <div class="policy-card-header">
                            <div class="policy-type-icon">
                                <img src="/assets/icons/WorkFlow.png" width="50" />
                            </div>
                        </div>
                        <div class="policy-card-body">
                            <h3 class="policy-name">WorkFlow</h3>
                        </div>
                  
                    </div>
                </div>

                <div class="policy-card cursor-pointer" onclick="LoadDocumentsSection()">
                    <div class="policy-internal-wrapper">
                        <div class="policy-card-header">
                            <div class="policy-type-icon">
                                <img src="/assets/icons/Documents.png" width="50"/>
                            </div>
      
                        </div>
                        <div class="policy-card-body">
                            <h3 class="policy-name">Documents</h3>
                        </div>
                  
                    </div>
                </div>

                <div class="policy-card cursor-pointer" onclick="LoadFraudSection()">
                    <div class="policy-internal-wrapper">
                        <div class="policy-card-header">
                            <div class="policy-type-icon">
                                <img src="/assets/icons/Fraud.png" width="50" />
                            </div>

                        </div>
                        <div class="policy-card-body">
                            <h3 class="policy-name">Fraud</h3>
                        </div>

                    </div>
                </div>

                <div class="policy-card cursor-pointer" onclick="LoadAccessSection()">
                    <div class="policy-internal-wrapper">
                        <div class="policy-card-header">
                            <div class="policy-type-icon">
                                <img src="/assets/icons/Access.png" width="50" />
                            </div>

                        </div>
                        <div class="policy-card-body">
                            <h3 class="policy-name">Access</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="policy-wrapper" id="ContentSection">
        </div>
    </div>
    <div class="right-sidebar false">
        <div class="inner-wrapper">
            <div class="resent-column">
                <div class="heading-card">
                    <h2 class="heading">Latest Requests</h2>
                </div>
                <ul class="resent-list-items">
                    <li class="resent-list-item">
                        <div class="request-card">
                            <div class="request-card-header">
                                <div class="timer-wrapper">
                                    <img src="/assets/icons/calendar.svg" class="timer-image" />
                                    <span class="timer case-no">2023-03-02</span>
                                </div><span class="request-status orange">UNDER REVIEW</span>
                            </div>
                            <div class="request-body ">
                                <div class="request-icon-wrapper">
                                    <img src="/assets/icons/users.svg" class="icon-request" />
                                </div>
                                <div class="request-details">
                                    <p class="request-type">Add Member</p>
                                    <h3 class="request-person">Req: 2050</h3>
                                    <p class="request-person-type"></p>
                                </div>
                                <div class="request-btn-wrapper">
                                    <button class="button button-primary">
                                        View
                                    </button>
                                </div>
                            </div>
                            <div class="request-footer">
                                <div class="request-category">
                                    <span class="category-icon">
                                        <img src="/assets/icons/first-aid.svg" class="icon-heart" />
                                    </span>
                                    <span class="category-text">Health</span>
                                </div>
                                <div class="request-no-wrap">
                                    <span class="request-icon">
                                        <img class="file" src="/assets/icons/empty-file.svg" />
                                    </span>
                                    <span class="request-no">26115771</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="resent-list-item">
                        <div class="request-card">
                            <div class="request-card-header">
                                <div class="timer-wrapper">
                                    <img src="/assets/icons/calendar.svg" class="timer-image" />
                                    <span class="timer case-no">2023-03-02</span>
                                </div><span class="request-status orange">UNDER REVIEW</span>
                            </div>
                            <div class="request-body ">
                                <div class="request-icon-wrapper">
                                    <img src="/assets/icons/users.svg" class="icon-request" />
                                </div>
                                <div class="request-details">
                                    <p class="request-type">Add Member</p>
                                    <h3 class="request-person">Req: 2050</h3>
                                    <p class="request-person-type"></p>
                                </div>
                                <div class="request-btn-wrapper">
                                    <button class="button button-primary">
                                        View
                                    </button>
                                </div>
                            </div>
                            <div class="request-footer">
                                <div class="request-category">
                                    <span class="category-icon">
                                        <img src="/assets/icons/first-aid.svg" class="icon-heart" />
                                    </span>
                                    <span class="category-text">Health</span>
                                </div>
                                <div class="request-no-wrap">
                                    <span class="request-icon">
                                        <img class="file" src="/assets/icons/empty-file.svg" />
                                    </span>
                                    <span class="request-no">26115771</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="resent-list-item">
                        <div class="request-card">
                            <div class="request-card-header">
                                <div class="timer-wrapper">
                                    <img src="/assets/icons/calendar.svg" class="timer-image" />
                                    <span class="timer case-no">2023-03-02</span>
                                </div><span class="request-status orange">UNDER REVIEW</span>
                            </div>
                            <div class="request-body ">
                                <div class="request-icon-wrapper">
                                    <img src="/assets/icons/users.svg" class="icon-request" />
                                </div>
                                <div class="request-details">
                                    <p class="request-type">Add Member</p>
                                    <h3 class="request-person">Req: 2050</h3>
                                    <p class="request-person-type"></p>
                                </div>
                                <div class="request-btn-wrapper">
                                    <button class="button button-primary">
                                        View
                                    </button>
                                </div>
                            </div>
                            <div class="request-footer">
                                <div class="request-category">
                                    <span class="category-icon">
                                        <img src="/assets/icons/first-aid.svg" class="icon-heart" />
                                    </span>
                                    <span class="category-text">Health</span>
                                </div>
                                <div class="request-no-wrap">
                                    <span class="request-icon">
                                        <img class="file" src="/assets/icons/empty-file.svg" />
                                    </span>
                                    <span class="request-no">26115771</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>