

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="page-wrapper">
        <div class="left-content">



            <div class="Topics-helps">
                <h3 class="topics-heading">Reports</h3>


                <div class="topics-list">
                    <div class="topics-card">
                        <div class="header-body">
                            <h4 class="topics-head">Road Side Assistance</h4>
                            <p class="topics-txt">Our services can be trustable, honest and worthy</p>
                        </div>
                        <div class="topics-footer">
                            <div class="topic-icon">
                                <img src="~/assets/icons/helps/road-location.svg">
                            </div>
                            <div class="topic-arrow">
                                <img src="~/assets/icons/helps/help-arrow.svg">
                            </div>
                        </div>
                    </div>
                    <div class="topics-card">
                        <div class="header-body">
                            <h4 class="topics-head">Request Telemedicine</h4>
                            <p class="topics-txt">Our services can be trustable, honest.</p>
                        </div>
                        <div class="topics-footer">
                            <div class="topic-icon">
                                <img src="~/assets/icons/helps/health-telemed.svg">
                            </div>
                            <div class="topic-arrow">
                                <img src="~/assets/icons/helps/help-arrow.svg">
                            </div>
                        </div>
                    </div>
                    <div class="topics-card">
                        <div class="header-body">
                            <h4 class="topics-head">Report a Theft</h4>
                            <p class="topics-txt">Our services can be trustable, honest and worthy</p>
                        </div>
                        <div class="topics-footer">
                            <div class="topic-icon">
                                <img src="~/assets/icons/helps/fraud.svg">
                            </div>
                            <div class="topic-arrow">
                                <img src="~/assets/icons/helps/help-arrow.svg">
                            </div>
                        </div>
                    </div>
                    <div class="topics-card">
                        <div class="header-body">
                            <h4 class="topics-head">Flight Delay Claim</h4>
                            <p class="topics-txt">Our services can be trustable, honest and worthy</p>
                        </div>
                        <div class="topics-footer">
                            <div class="topic-icon">
                                <img src="~/assets/icons/helps/pnc-flight-delay-assistance.svg">
                            </div>
                            <div class="topic-arrow">
                                <img src="~/assets/icons/helps/help-arrow.svg">
                            </div>
                        </div>
                    </div>
                    <div class="topics-card">
                        <div class="header-body">
                            <h4 class="topics-head">Flight Delay Claim</h4>
                            <p class="topics-txt">Our services can be trustable, honest and worthy</p>
                        </div>
                        <div class="topics-footer">
                            <div class="topic-icon">
                                <img src="~/assets/icons/helps/road-location.svg">
                            </div>
                            <div class="topic-arrow">
                                <img src="~/assets/icons/helps/help-arrow.svg">
                            </div>
                        </div>
                    </div>
                    <div class="topics-card">
                        <div class="header-body">
                            <h4 class="topics-head">Report a Theft</h4>
                            <p class="topics-txt">Our services can be trustable, honest and worthy</p>
                        </div>
                        <div class="topics-footer">
                            <div class="topic-icon">
                                <img src="~/assets/icons/helps/road-location.svg">
                            </div>
                            <div class="topic-arrow">
                                <img src="~/assets/icons/helps/help-arrow.svg">
                            </div>
                        </div>
                    </div>
                    <div class="topics-card">
                        <div class="header-body">
                            <h4 class="topics-head">Assist in Accident</h4>
                            <p class="topics-txt">Our services can be trustable, honest and worthy</p>
                        </div>
                        <div class="topics-footer">
                            <div class="topic-icon">
                                <img src="~/assets/icons/helps/road-location.svg">
                            </div>
                            <div class="topic-arrow">
                                <img src="~/assets/icons/helps/help-arrow.svg">
                            </div>
                        </div>
                    </div>
                    <div class="topics-card">
                        <div class="header-body">
                            <h4 class="topics-head">Assist in Accident</h4>
                            <p class="topics-txt">Our services can be trustable, honest and worthy</p>
                        </div>
                        <div class="topics-footer">
                            <div class="topic-icon">
                                <img src="~/assets/icons/helps/road-location.svg">
                            </div>
                            <div class="topic-arrow">
                                <img src="~/assets/icons/helps/help-arrow.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
